@import '../base/variables';
@import '../base/extends';

/* Estilos pagina cursos */

.cursos-container-box {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin: 2em 2em 2em 2em;
}