@import '../base/variables';
@import '../base/extends';

/* Estilo al titulo / logo de la marca */

h1 {
    font-family: $fuenteTitulo;
}

.logo-container {
@extend %flex_col_cen;
margin-bottom: 2em;
}

.logo {
margin-top: 0.5em;
margin-bottom: 0.5em;
border-radius: 20px;
}

/* Animacion del logo */

.logo:hover {
    transform: rotateY(360deg);
    transition: all 0.8s;

    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}