@import '../base/extends';
@import '../base/variables';

/* Estilos para html de productos */

.main-prod-container {
    padding-bottom: 2em;
    padding-top: 2em;
        div {
            img {
                width: 100%;
                border-radius: 20px;
                opacity: 50%;
                &:hover {
                    opacity: 100%;
                    transition: opacity 1s;
                    }
                }
            p {
                border: solid 1px black;
                margin-top: 0.5em;
                }
            }
}

.prod-container {
    @extend %flex_col_cen;
}