@import '../base/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Estilo a aplicar al sitio */

.cuerpo-html {
    background-color: $siteColor;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
    font-weight: $fontWeight;
    font-size: $fontSize;
}