/* Definicion de Variable */

$fuenteTitulo: 'Quicksand';
$pesoTitulo: 500;
$fontSize: 1em;
$siteColor: rgb(245, 240, 235);
$linkColor: rgb(129, 117, 117);
$fontWeight: 300;
$fontSizeH2: 15px;
$fontSizeH3: 10px;